# Cover all known midi models
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="0582", ATTRS{idProduct}=="01d8", GROUP="plugdev", RUN+="/bin/bash -c '/bin/echo /usr/local/bin/midi_bridge_start | /usr/bin/at now'"

